body {
  margin: 0px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.top {

  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}


.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 30px;
}

.contact-me {
  margin: 50px auto 50px auto;
  width: 45%;
  line-height: 2;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.profile {
  width: 50%;
  margin: 50px auto 50px auto;
}

.skill-row {
  text-align: left;
  line-height: 2;
  width: 45%;
  margin: 100px auto 100px auto;
}

.above-cloud {
  position: absolute;
  right: 300px;
  top: 70px;
}

.below-cloud {
  position: absolute;
  left: 250px;
}

.Code {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Chilli {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.Copy-right {
  color: #EAF6F6;
}
